* { margin:0; padding:0;}
    
header { display:flex; background-color:red; color:white; padding:50px 0;}
header .left { padding-left:30px;}
header .right { flex:1;}
header .navbar { text-align:right;}
header .navbar a { margin:0 20px; color:white;}